<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hocanhvan.doan.nhatnghe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
      
         >
        
            <activity
            android:name=".manghinhchao"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
        
        
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name=".gioithieu"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
             >   </activity>
        
        <activity
            android:name=".hocnghe"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
             >   </activity>
        
          <activity
            android:name=".elearning"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
             >   </activity>
          
          <activity
            android:name=".tacgia"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
             >   </activity>
          
          <activity
            android:name=".xemvideo"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
             >   </activity>
          
           <activity
            android:name=".playvideo"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
             >   </activity>
          
           
           <activity android:name=".Nhap_congviecActivity"
               ></activity>
        <activity android:name=".Sua_congviecActivity"
            ></activity>
        
        
        <activity android:name=".Ghinho_congviecActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
           
            ></activity>
         <activity android:name=".vanpham"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
           
            ></activity>
         <activity android:name=".infovanpham"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
           
            ></activity>
         
          <activity android:name=".tudien"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
           
            ></activity>
          
           <activity android:name=".infotracuu"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
           
            ></activity>
    </application>

</manifest>